html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: transparent;
}

#bg-video {
    object-fit: fill;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1
}

.blink-btn {
    background-color: coral;
    border: none;
    color: white;
    padding: 2rem;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: 20%;
    z-index: 100;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.blink-div {
    position: relative;
    bottom: 10rem;
}

.sound-btn {
    background-color: cornflowerblue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200
}