html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: transparent;
}

#bg-video {
    object-fit: fill;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1
}

.blink-btn {
    opacity: 2;
    background: transparent;
    border: none;
    color: white; 
    padding: 0;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: 20%;
    z-index: 100;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 900px){
.blink-btn {
    width: 40%;
}
}

.blink-svg{
    cursor: pointer;
    z-index: 88;
    position: relative;
    bottom: 0;
    left: 0;
    transition: transform 0.4s ease 0.8s;
}

.blink-svg:hover {
   transform: scale(1.0, 0.94);
   transition: transform 0.2s ease 0s; 
}

.blink-svg:active {
   transform: scale(1.0, 0.4);
   transition: transform 0.2s ease 0s; 
}

.blink-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    pointer-events: none;
}

.blink-div {
    position: relative;
    bottom: 7rem;
}


.sound-btn {
    background-color: transparent;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
}

.sound-svg {
    cursor: pointer;
    width: 60%;
    z-index: 88;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    transition: transform 0.2s ease 0s;
}

.sound-svg.unmuted {
  transform: translate(-50%, 0) skew(30deg, 20deg);
  transition: transform 0.1s ease 0s;  
}
